*{
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  background-color:antiquewhite;
}

.image{
  width: 40px;
  height: 40px;
  margin-left: 40px;
}

body{
  margin-top: 80px;
}

header{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  display: flex;
  align-items: center;
}

header *{
  display: inline;
}

header li {
  margin: 20px;
}

header li a:hover{
  color: gray;
}

header li a {
  color: black;
  text-decoration: none;
}

.title {
  margin: auto;
  width: 50%;
  text-align: center;
  background: repeating-linear-gradient(140deg, rgba(50%, 37%, 45%, 1.000), rgba(53%, 37%, 31%, 1.00), rgba(46%, 41%, 26%, 0.750));
  background-clip: text;
  -webkit-background-clip:text;
  -webkit-text-fill-color: transparent;
}

h2{
  padding-top: 10px;
  margin: auto;
  width: 50%;
  text-align: center;
  color: gray;
}

.flex-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.flex-container li{
  list-style-type: none;
  margin: 10px;
  padding: 5px;
  border-style: solid;
  border-width: 2px;
  border-color: gray;
  border-radius: 50px;
}

.flex-container li:hover{
  background-color: cornsilk;
  border-color: gainsboro;
}